header {
    background: goldenrod;
    padding: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 130%;
    text-align: center;
    border : 5px solid rgb(192, 147, 79);
    }   

body {
    text-align: center;
    background-color: ivory;
    margin : 0px;
    font-family: 'Courier New', Courier, monospace;
}

#formintro {
    font-family: 'Courier New', Courier, monospace;
    font-size: 110%;
}

.formbutton {
    border: lightslategrey;
    background-color: limegreen;
}

#CO2FORM {
    border : 2px goldenrod;
    background: goldenrod;
    padding: 30px;
    margin: 30px auto auto auto; 
    height : 40%; 
    width : 50%;
    border : 5px solid rgb(192, 147, 79);

}

#numberkm {
    background-color: ivory;
}

#answerenvelop {
    height : 20px;
    padding : 7px;
    font-size: 60%;;
}

.answersCO2 {
    background-color: ivory;
    margin : 5px auto 5px auto;
    padding: 2px;
    width : 50%;
    text-align: center;
    border-radius: 3px;
    font-size: 90%;
    list-style: none;
}

#sumCO2 {
    background-color: rgb(192, 147, 79);
    color: ivory;
    margin : 5px auto 5px auto;
    padding: 2px;
    width : 50%;
    text-align: center;
    border-radius: 3px;
}
footer {
    background-color: ivory;
    height : 30%;
    margin: 0px;
    padding: 10px;
}

img {
    align-items: baseline;
    padding: 20px;
} 